<section class="stats p-4 rounded shadow-sm bg-white mb-3">
  <h4>Moves</h4>

  <ul class="list-group list-group-flush mb-2" [ngClass]="{ 'minimized': minimizeList }">
    <li class="list-group-item move text-capitalize" *ngFor="let move of moves">
      {{ move.move.name }}
    </li>
  </ul>

  <button class="btn btn-outline-danger" (click)="toggleMinimizeList()">
    <span *ngIf="minimizeList; else shrinkListText">Show all moves</span>
    <ng-template #shrinkListText>
      <span>Minimize moves</span>
    </ng-template>
  </button>
</section>
