<header class="mb-3">
  <input type="text" placeholder="Search your collection..."
         class="form-control form-control-lg"
         (keyup)="onSearchKeyUp($event)">
</header>
<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let pokemon of filteredPokemon()">
    <section class="d-flex align-items-center">
      <div class="avatar">
        <img [src]="pokemon.image" [alt]="pokemon.name" width="45"/>
      </div>
      <h4 class="text-capitalize m-0">{{ pokemon.name }}</h4>
    </section>
    <app-icon-button btnClass="text-danger" icon="delete"></app-icon-button>
  </li>
</ul>
