<section class="avatar-header text-center py-4">
  <div class="spinner-border text-danger" role="status" *ngIf="!image; else imageReady">
    <span class="visually-hidden">Loading...</span>
  </div>
  <ng-template #imageReady>
    <img [src]="image" [alt]="pokemonName" class="avatar__image mx-auto" width="180"/>
  </ng-template>
</section>
