<section class="stats p-4 rounded shadow-sm bg-white mb-3">
  <h4>Stats</h4>

  <ul class="stats-list">
    <li class="stat text-capitalize mb-3" *ngFor="let stat of stats">
      <div class="stat-text d-flex justify-content-between align-items-center">
        <span>{{ stat.stat.name }}</span>
        <span>{{ stat.base_stat }}</span>
      </div>
      <div class="progress">
        <div [style]="'width: '+stat.base_stat+'%'"
             class="progress-bar"
             role="progressbar"
             [attr.aria-valuenow]="stat.base_stat"
             [attr.aria-valuemin]="0" [attr.aria-valuemax]="100"></div>
      </div>
    </li>
  </ul>
</section>
