<header class="py-3 bg-white">
  <app-container>
    <section class="d-flex">
      <app-icon-button link="/catalogue" icon="arrow_back"></app-icon-button>
      <h2 class="fw-bold">Search</h2>
    </section>
  </app-container>
</header>

<app-container>
  <h4>Search catalogue content</h4>
</app-container>

