<header class="py-3 bg-white sticky-top page-header">
  <app-container>
    <section class="d-flex justify-content-between align-items-center">
      <h2 class="page-title">Catalogue</h2>
      <app-menu-buttons></app-menu-buttons>
    </section>
  </app-container>
</header>

<app-container>
  <section class="catalogue">
    <app-catalogue-item
      *ngFor="let pokemon of catalogue"
      [pokemon]="pokemon"
    (click)="onCatalogueItemClick(pokemon)"></app-catalogue-item>
  </section>
</app-container>

<app-catalogue-footer></app-catalogue-footer>
