.catalogue-item {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: .5rem;
  font-size: .5em;
}
.catalogue-item__header {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  min-height: 100px;
}

.catalogue-item img {
  max-width: 100%;
  display: block;
}

.catalogue-item h4 {
  font-size: 1rem;
}
