<header class="py-3 sticky-top page-header" [ngClass]="'bg-type-' + baseType">
  <app-container>
    <section class="d-flex align-items-center">
      <app-icon-button icon="arrow_back" [link]="backRoute"></app-icon-button>
      <h2 class="page-title text-capitalize">{{ pokemonName }}</h2>
    </section>
  </app-container>
</header>

<section class="avatar pb-5" [ngClass]="'bg-type-' + baseType">

  <app-pokemon-detail-avatar
    [pokemonName]="pokemonName"
    [image]="pokemon?.image"></app-pokemon-detail-avatar>

  <app-pokemon-detail-types *ngIf="pokemon" [types]="pokemon.types"></app-pokemon-detail-types>

  <app-pokemon-detail-catch-button
    *ngIf="pokemon"
    [pokemonName]="pokemonName"
    [pokemonId]="pokemon.id"></app-pokemon-detail-catch-button>

</section>


<app-container>

  <main class="pokemon-detail-content" *ngIf="pokemon">

    <div class="left">
      <app-pokemon-detail-stats [stats]="pokemon.stats"></app-pokemon-detail-stats>
      <app-pokemon-detail-moves [moves]="pokemon.moves"></app-pokemon-detail-moves>
    </div>

    <div class="right">
      <app-pokemon-detail-abilities [abilities]="abilities"></app-pokemon-detail-abilities>
    </div>

  </main>
</app-container>

