<header class="py-3 page-header shadow-sm">
  <app-container>
    <h2 class="page-title">Login</h2>
  </app-container>
</header>

<app-container>
  <app-login-form (success)="handleLoginSuccess()"></app-login-form>
</app-container>
